<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for product</title>
    <meta name="main_application_page"/>
</head>
<body>
<H1>THIS IS A SEARCH PAGE</H1>

<form name="product-name-form" id="product-name-form" action="searchProductName" method="post" target="products">
    <label for="product-name">Product name</label>
    <input type="text" id="product-name">
    <label for="city">City</label>
    <select id="city">
        <option>Select city</option>
        <option th:each="city : ${cities}"
                th:value="${city}"
                th:text="${city}">${city}</option>
    </select>
    <input type="submit" id="searchProductBtn" name="searchProductBtn" th:value="Search"/>
</form>


<iframe id="products" name="products" th:height="600vh" th:width="600vw">

</iframe>
</body>
</html>