<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for product</title>
    <meta name="main_application_page"/>
</head>
<body>
<H1>THIS IS A SEARCH PAGE</H1>

<form action="searchProductName" id="product-name-form" method="post" name="product-name-form" target="products">
    <label for="product-name">Product name</label>
    <input id="product-name" type="text">
    <label for="city">City</label>
    <select id="city">
        <option>Select city</option>
        <option th:each="city : ${cities}"
                th:text="${city}"
                th:value="${city}">${city}
        </option>
    </select>
    <input id="searchProductBtn" name="searchProductBtn" th:value="Search" type="submit"/>
</form>


<iframe id="products" name="products" th:height="600vh" width="85%">

</iframe>
</body>
</html>