<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search for product</title>
    <meta id="price_table_meta_id" name="price_table_meta_id"/>
</head>
<body>
<H1>This this is a product search results page</H1>

<table id="prices_table">
    <thead>
    <tr>
        <th>שם המוצר</th>
        <th> ברקוד</th>
        <th> סניף</th>
        <th> מחיר</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>במבה</td>
        <td>123456</td>
        <td>רמי לוי תלפיות</td>
        <td>11.2</td>
    </tr>
    </tbody>
</table>

</body>
</html>