<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for product</title>
    <meta id="product_search_results" name="product_search_results"/>
</head>
<body>
<H1>This this is a product search results page</H1>

<form action="getPrices" id="product-name-form" method="post" name="product-name-form">
    <label for="matching_products_list">Product name</label>
    <select id="matching_products_list" multiple="multiple" name="selectedProducts" th:size="4">
        <option value="1">Apples</option>
        <option value="2">Bananas</option>
        <option value="3">Chili Pepper</option>
    </select>
    <input id="get_price_btn" type="submit" value="Get Prices"/>
</form>

</body>
</html>