<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for product</title>
    <meta id="product_search_results" name="product_search_results"/>
</head>
<body>
<H1>This this is a product search results page</H1>

<form name="product-name-form" id="product-name-form" action="getPrices" method="post">
    <label for="matching_products_list">Product name</label>
    <select id="matching_products_list" name="selectedProducts" multiple="multiple" th:size="4">
        <option value="1">במבה</option>
        <option value="2">ביסלי</option>
        <option value="3">אפרופו</option>
    </select>
    <input type="submit" id="get_price_btn" value="Get Prices"/>
</form>

</body>
</html>